<?xml version="1.0" encoding="utf-8"?>
<InstalledPlugins xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Plugin>
    <Name>DFM Generator</Name>
    <Description>Dynamic Fracture Model Generator: Petrel version</Description>
    <Contact>mwelch@dtu.dk or mikael@dtu.dk</Contact>
    <PluginTypeName>DFMGenerator_Ocean.DFMGeneratorPlugin, DFMGenerator_Ocean, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
    <PluginUri>https://offshore.dtu.dk/english</PluginUri>
    <PluginId>://DFMGenerator_Ocean.DFMGeneratorPlugin/2.1.1.0</PluginId>
    <Trust PublicKeyToken="">Default</Trust>
    <ReleaseDate>2022-11-16</ReleaseDate>
    <Author>Michael Welch and Mikael Lüthje</Author>
    <AppVersion>2020.0</AppVersion>
    <Modules>
      <Module TypeName="DFMGenerator_Ocean.DFMGeneratorModule, DFMGenerator_Ocean, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
    </Modules>
    <Assemblies>
      <Assembly Name="DFMGenerator_Ocean, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
      <Assembly Name="nunit.framework, Version=3.13.3.0, Culture=neutral, PublicKeyToken=2638cd05610744eb" />
    </Assemblies>
    <assemblyBinding />
    <StartMode>Startup</StartMode>
    <StartupAction>None</StartupAction>
  </Plugin>
</InstalledPlugins>